*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    max-width: 941px;
}

header{
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

footer{
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;    
}

.content{
    margin: 0 auto;
}

.slider{
    height: 410px;
    width: 100%;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: lightpink;
}

.slider-first-row{
    position: absolute;
    right: 320px;
    height: 200px;
    margin-bottom: 10px;
    background-color: chocolate;
    display: flex;
}

.slider-first-row img{
    display: inline-block;
    height: 100%;
    margin-left: 10px;
}

.slider-second-row{
    position: absolute;
    right: 480px;
    top: 210px;
    background-color: darkgreen;
    height: 200px;
    display: flex;
    margin-bottom: 10px;
}

.slider-second-row img{
    display: inline-block;
    height: 100%;
    margin-left: 10px;
}